// color
$bg-color: #030303;
$primary-color: #bbe666;
$text-color: rgb(124,131,144);
$text-color-dark: #253615;
$heading-color: #fbfdfd;
$block-bg-color: rgb(25,31,40); //1a1f28
$block-bg-color-secondary: rgb(34,44,52); //222c34
$border-color: #24282d;

// size
$border-radius: 18px;
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;

$duration: 0.3s;
